# Deep Search Agent - Environment Variables
# Copy this file to .env and add your API keys

TAVILY_API_KEY=your_tavily_api_key_here



# OPEEN-AI
AZURE_OPENAI_API_KEY=your_azure_openai_api_key_here
AZURE_OPENAI_ENDPOINT=your_azure_openai_endpoint_here
AZURE_OPENAI_DEPLOYMENT=your_azure_openai_deployment_here
AZURE_OPENAI_MODEL=your_azure_openai_model_here
AZURE_OPENAI_API_VERSION=your_azure_openai_api_version_here

# GROK
AZURE_GROK_API_KEY=your_azure_grok_api_key_here
AZURE_GROK_ENDPOINT=your_azure_grok_endpoint_here
AZURE_GROK_DEPLOYMENT=your_azure_grok_deployment_here
AZURE_GROK_MODEL=your_azure_grok_model_here
AZURE_GROK_API_VERSION=your_azure_grok_api_version_here